<a href="https://colab.research.google.com/github/meehal0203/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID column 'EIN' and 'NAME'
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<100].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
counts_to_bin = application_df['CLASSIFICATION'].value_counts()
counts_to_bin

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countclassification = counts_to_bin[counts_to_bin>1]
countclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (counts_to_bin[counts_to_bin<200].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
# X
# y

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
# X
# y

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=100
hidden_nodes_layer2=30
hidden_nodes_layer3=1
nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4700

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 7761 (30.32 KB)
Trainable params: 7761 (30.32 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [15]:
# Train the model
# fit_model = nn.fit(X_train_scaled,y_train, epochs=100)

In [16]:
# fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=50)

In [17]:
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=20)

Epoch 1/20
684/684 [==============================] - 5s 5ms/step - loss: 0.5714 - accuracy: 0.7193 - val_loss: 0.5510 - val_accuracy: 0.7346
Epoch 2/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5563 - accuracy: 0.7276 - val_loss: 0.5457 - val_accuracy: 0.7339
Epoch 3/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7287 - val_loss: 0.5456 - val_accuracy: 0.7323
Epoch 4/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7288 - val_loss: 0.5490 - val_accuracy: 0.7336
Epoch 5/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7298 - val_loss: 0.5475 - val_accuracy: 0.7362
Epoch 6/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7299 - val_loss: 0.5462 - val_accuracy: 0.7321
Epoch 7/20
684/684 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7295 - val_loss: 0.5480 - val_accuracy: 0.7367
Epoch 8/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7322 - val_loss: 0.5456 - val_accuracy: 0.7339
Epoch 9/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7321 - val_loss: 0.5455 - val_accuracy: 0.7318
Epoch 10/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7324 - val_loss: 0.5449 - val_accuracy: 0.7328
Epoch 11/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7316 - val_loss: 0.5439 - val_accuracy: 0.7334
Epoch 12/20
684/684 [==============================] - 3s 4ms/step - loss: 0.5450 - accuracy: 0.7320 - val_loss: 0.5468 - val_accuracy: 0.7295
Epoch 13/20
684/684 [==============================] - 2s 4ms/step - loss: 0.5445 - accuracy: 0.7332 - val_loss: 0.5438 - val_accuracy: 0.7349
Epoch 14/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7337 - val_loss: 0.5425 - val_accuracy: 0.7336
Epoch 15/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7333 - val_loss: 0.5427 - val_accuracy: 0.7331
Epoch 16/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7333 - val_loss: 0.5419 - val_accuracy: 0.7328
Epoch 17/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7339 - val_loss: 0.5433 - val_accuracy: 0.7328
Epoch 18/20
684/684 [==============================] - 3s 5ms/step - loss: 0.5420 - accuracy: 0.7326 - val_loss: 0.5438 - val_accuracy: 0.7370
Epoch 19/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7360 - val_loss: 0.5423 - val_accuracy: 0.7375
Epoch 20/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5414 - accuracy: 0.7355 - val_loss: 0.5420 - val_accuracy: 0.7367

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5528 - accuracy: 0.7261 - 406ms/epoch - 2ms/step
Loss: 0.5527952313423157, Accuracy: 0.726064145565033